/* === Header === */

.header_iberia{
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.header_iberia a{
    color: black;
    text-decoration: none;
}

.header_iberia a:hover{
    color: black;
    text-decoration: none;
}

.head-iberia{
    margin: 2rem;
}

.logo_iberia{
    height: 100px;
    margin-right: 1rem;
}

.title-iberia{
    font-weight: 400;
}

.nav-iberia{
    background-color: #f69481a4 !important;
    font-family: 'Dancing Script', cursive;
}

/* === Main === */

.card-style{
    margin: 1rem !important;
    width: auto;
}

.container{
    border-left: 1px solid #f69481a4 !important;
    border-right: 1px solid #f69481a4 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* = Home = */

.strong-home-style{
    color: #e28d7c;
}

.home-alaune-style{
    background-color: #f69481a4;
    text-align: center;
    padding: 2rem;
    border: 1px solid black !important;
    margin-top: 1rem;
}

.home-alaune-style h2{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem !important;
}

.carousel-style{
    width: 45rem;
    height: auto;
    margin: 2rem auto 2rem auto;
}

@media only screen and (max-width: 991px) {
    .carousel-style{
        width: auto;
        height: auto;
        margin: auto auto auto auto
    }
}

.title-home-style{
    font-family: 'Dancing Script', cursive;
}

/* === Footer === */

.footer-iberia{
    padding: 1rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f69481a4 !important;
}

.footer-iberia-content{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.footer-iberia-content p{
    margin: auto !important;
}

.logo-iberia-footer{
    height: 50px;
    margin-right: 1rem;
}

.nav-footer-iberia ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 1rem;
    margin: auto !important;
}

.nav-footer-iberia li{
    margin-right: 1rem;
}

.nav-footer-iberia li a{
    color: black;
    text-decoration: none;
}

.author{
    font-family: 'Dancing Script', cursive;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin: auto !important;
    background-color: #f69481a4 !important;
}

.author a {
    color: #e28d7c;
    text-decoration: none;
}